.icon-search {
  width: 20px;
  height: auto;
  margin-left: 560px;
  margin-top: -75px;
}
.form-search {
  width: 600px;
  height: 150px;
  background-color: white;
}
.input-search {
  border: none;
  border-bottom: 2px solid rgb(71, 200, 236);
  width: 600px;
  height: 50px;
}

.input-search1 {
  border: none;
  border: 2px solid red;
  width: 600px;
  height: 50px;
}

.button-search {
  margin-left: 420px;
  display: grid;
  grid-template-columns: 80px 80px;
  gap: 5px;
  margin-top: 10px;
}
input:focus {
  outline: none; /* Bỏ viền màu khi input được focus */
}
